[program:{{ supervisor_program_name }}]
command={{ supervisor_command }}
directory={{ supervisor_dir }}
autostart={{ supervisor_autostart }}
autorestart={{ supervisor_autorestart }}
startretries={{ supervisor_startretries }}
stdout_logfile={{supervisor_log_dir}}/{{ supervisor_program_name }}.out.log
stderr_logfile={{supervisor_log_dir}}/{{ supervisor_program_name }}.err.log
user={{ supervisor_username }}
environment={{ supervisor_environment }}
