server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name default;

    root {{ default_public_dir }};

    index index.html index.htm index.php;

    charset utf-8;

	include h5bp/basic.conf;

    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }

    access_log off;
    error_log  /var/log/nginx/default-error.log error;

    error_page 404 /index.php;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        # fastcgi_split_path_info ^(.+\.php)(/.+)$;
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php{{ php_version }}-fpm.sock;
        # fastcgi_index index.php;
        # include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }
}