charset utf-8;

    include {{cleaver_conf_dirname}}/{{ domain }}/*.conf;
    include h5bp/intermediate.conf;

    access_log off;
    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }
    error_log {{ error_log_file }} error;

    location ^~ /.well-known/acme-challenge/ {
        allow all;
    }
