        try_files $uri @proxy;

        location @proxy {
            proxy_pass http://127.0.0.1:{{ site_port }};
            proxy_pass_header Server;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_pass_header Server;
            proxy_connect_timeout 3s;
            proxy_read_timeout 10s;
        }

        location ~ /\.ht {
            deny all;
        }
