listen 443 ssl http2;
    listen [::]:443 ssl http2;

    include /etc/nginx/h5bp/directive-only/ssl.conf;
    include /etc/nginx/h5bp/directive-only/ssl-stapling.conf;

    ssl_certificate       {{ nginx_ssl_path }}/fullchain.pem;
    ssl_certificate_key   {{ nginx_ssl_path }}/privkey.pem;
    ssl_dhparam /etc/nginx/dhparams.pem;
