include {{cleaver_conf_dirname}}/{{ domain }}/header/*.conf;

server {
    {% include './templates/_ssl.j2' %}

    {% if is_wildcard != 'false' %}
    server_name .{{ domain }};
    {% else %}
    server_name {{ domain }};
    {% endif %}
    root {{ site_public_directory }};

    {% include './templates/_common.j2' %}

    {% include './templates/_common.wordpress.j2' %}

    {% include './templates/_footer.%s.j2' % project_type ignore missing %}
}
