include {{cleaver_conf_dirname}}/{{ domain }}/header/*.conf;

server {
    {% include './templates/_ssl.j2' %}

    {% if is_wildcard != 'false' %}
    server_name .{{ domain }};
    {% else %}
    server_name {{ domain }};
    {% endif %}
    root {{ site_public_directory }};

    index index.html index.htm;

    {% include './templates/_common.j2' %}


    location / {
        try_files $uri $uri/ =404;
    }
}
