include {{cleaver_conf_dirname}}/{{ domain }}/header/*.conf;

server {
    listen 80;
    listen [::]:80;

    {% if is_wildcard != 'false' %}
    server_name .{{ domain }};
    {% else %}
    server_name {{ domain }};
    {% endif %}
    root {{ site_public_directory }};

    index index.html index.htm;

    {% include './templates/_common.j2' %}

    {% include './templates/_common.wordpress.j2' %}
}
