#!/usr/bin/env node

var http = require('http');
http.createServer(function (req, res) {
  res.writeHead(200, {'Content-Type': 'text/plain'});
  res.end('Hello, {{ domain }}! This is a NodeJS app {{ site_port }} created by Cleaver. The app is currently listening on port {{ site_port }}.');
}).listen(process.env.PORT, "127.0.0.1");
