[Unit]
Description={{ domain }}
After=network.target

[Service]
ExecStart={{ full_entry_point }}
Restart=always
User=nobody
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production PORT={{ site_port }}
WorkingDirectory={{ site_public_directory }}

[Install]
WantedBy=multi-user.target
