# Redirect all http traffic to https
server {
    listen 80;
    listen [::]:80;
    server_name .{{ domain }};
    return 301 https://$host$request_uri;
}

# Redirect www https traffic to primary domain https
server {
   {% include './templates/_ssl.j2' %}

   server_name www.{{ domain }};
   return 301 https://{{ domain }}$request_uri;
}
